@use "./variables" as v;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: v.$fuentePrincipal;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 20px 0;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}