@use "./variables" as v;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: v.$texto-global;
    font-size: 16px;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 20px 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 46px;
}
h3 {
    font-size: 30px;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}