//Fuentes
$fuentePrincipal:'Poppins', sans-serif;

//Colores
$morado:#6834a6;
$morado-oscuro:#46098f;
$negro:#000000;
$blanco:#fff;
$blanco-transparente:#ffffff67;

//Media
$telefono:480px;
$tablet:500px;
$laptop:992px;
$desktop:1280px;