//Tipografia
$texto-global: 'Poppins', sans-serif;

//Medidas
$telefono:480px;
$tablet:768px;
$netbook:1024px;
$laptop:1280;
$desktop:1680;

//Colores
$morado: #6834a6;
$morado-claro: #8443d3eb;
$blanco: #FFF;
$negro: #000000;