@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.navegacion{
    .navegacion__link{
        padding: 10px;
        color: v.$blanco;
        @include m.telefono{
            color: v.$morado;
            text-align: center;
            padding: 5px 0;
        }
    }
    @include m.telefono{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
}